<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<table
<thead>
<tr>
<th> Nome </th>
<th> Valor </th>
<th> Restaurant </th>




</tr>
</thead>


<tbody>
<% @products.each do |p|%>
  <tr>
  <th><%= p.name %></th>

  <th><%=p.value%></th>

  <th><%= p.restaurant.name %></th>

<%end%>
</tbody>
</table>
